@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-width: none;
}

.table-container::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
}

table {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  overflow: hidden;
}
table::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
/* ::-webkit-scrollbar-thumb {
  background: gray;
} */

input:focus {
  outline: none;
}
